body {
    font:  Monserrat;
    background-image: url("<?php echo base_url()?>assets/img/1.jpg");
    background-repeat: no-repeat;
    background-size: 1400px 750px;
}
a:hover {
    font-size: 28px;
    color: black;
}
a:link {
    font-size: 24px;
}